@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
    margin: 0;
}
body *{
    font-family: 'Ubuntu', sans-serif;

}

/* Nav bar */
header {
    background-color: #040000;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 100%;
    top: -1px;
    z-index: 2;
}
  
header a {
    color: white;
    text-decoration: none;
}
.menuItem{ 
    margin: '1rem';
    font-size: '1.2rem';
    display: flex;
    align-items: center;
}
.mainTitle{ 
    font-size: '2rem';
    text-align: 'center';
    margin: '1rem' 
}

