.collaboraterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.collaboraterContainer{
    justify-content: space-between;
    flex-direction: column;
    min-width: 350px;
    width: 90%;
    margin: 25px auto;
    height: auto;
    -webkit-box-shadow: 2px 2px 12px -5px #00000050; 
    box-shadow: 2px 2px 12px -5px #00000050;
}