
.searchContainer,
.searchContainer .filterContainer,
.searchContainer .inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.searchContainer{
    min-height: 80px;
    height: auto;
    
}

/* search input */
.searchContainer .inputContainer{
    width: 90%;
    margin: 10px 0;
    flex-direction: column;

}

.searchContainer .inputContainer input{
    width:300px;
    height: 40px;
    border: none;
    color: #555;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: #e6e6e6;
    font-size: 18px;
    padding: 0 10px;

}

.searchContainer .inputContainer span{
    color: rgb(206, 48, 48);
    position: absolute;
    margin-top: 60px;
}

.searchContainer .inputContainer input,
.searchContainer .option:last-child {
    -webkit-box-shadow: 2px 2px 12px -5px #00000065; 
    box-shadow: 2px 2px 12px -5px #00000065;
}

.searchContainer .inputContainer input::-webkit-input-placeholder {
    color: #AAA;
}
.searchContainer .inputContainer input:focus::-webkit-input-placeholder {
    color: #403866;
}

.searchContainer .inputContainer input:focus{
    outline:none;
}

/* Option select filter */
.searchContainer .filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
.searchContainer .filterContainer h5{
    position: absolute;
    margin: 0 0 0 10px;
}
.searchContainer .filterContainer .typeFilter h5{
    z-index: 6;
}
.searchContainer .filterContainer .serviceFilter h5{
    z-index: 3;
}
.searchContainer .select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:300px;
    height:40px;
    margin: 10px;

}
  
.searchContainer .option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:white;
    border-top:#403866 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition: 200ms ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;

}

.searchContainer .typeFilter .option {
    z-index:4;
}
.searchContainer .option:hover {
    background:#403866;
    color: white;
}
  
.searchContainer .select:focus .option {
    position:relative;
    pointer-events:all;
}
  
.searchContainer .select input {
    opacity:0;
    position:absolute;
    left:-99999px;

}
  
.searchContainer .select input:checked + label {
    order: 1;
    z-index:2;
    background-color: #e6e6e6;
    color: #403866;
    border-top:none;
    position:relative;
}
.searchContainer  .typeFilter .select input:checked + label {
    z-index:5;
}
  
.searchContainer .select input:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:15px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}
  
.searchContainer .select input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#403866;
}


@media (min-width: 700px) {

    .searchContainer .inputContainer{
        width: 45%;
    }
    .searchContainer .filterContainer{
        width: 45%;
    }
    
}

@media (min-width: 1000px) {
    .searchContainer .inputContainer{
        width: 35%;
    }
    .searchContainer .filterContainer{
        width: 60%;
    }
    
}